<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scada Fabrication Machines</title>
  <link rel="shortcut icon" href="/images/mini_logo.png" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <link rel="stylesheet" href="/css/aside.css">
</head>
<body>
  <%- include ('./partials/sidebar') %>
  <img src="images/banner.jpg" alt="">
  <%- include('partials/footer'); -%>
</body>
</html>